body{
    
    font-size: 20px;
}
.container{
    background-color:#ede5e5;
    width: 70%;
    margin: auto;
    padding-bottom: 20px;
    border: solid #ede5e5 1px;
    border-radius: 4px;
    
}
h2{
    text-align: center;
}
input{
    width: 95%;
    padding: 10px;
    margin: 10px;
    border: solid black 1.5px;
    border-radius: 4px;
}
.submit2{
    background-color: blue;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    justify-content: center;
    width: 98%;

}
li{
    font-size: 20px;
}
button{
    float: right;
    margin: 7px;
    font-size: 20px;
    border-radius: 2px;
    border: solid black 1px;
}
.removebtn{
    background-color: red;
    color: white;
}
.donebtn{
    background-color: green;
    color: white;
}
.task{
    font-weight: bold;
}
.description{
    font-weight: 100;
}
